<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD de Colaboradores</title>
    <link th:href="@{~/css/style.css}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
    <div class="container">
        <h1>Cadastro</h1>
        <form id="cadastro-form">
            <label for="nome">Nome Usuario:</label>
            <input type="text" id="nome" name="nome" required>

            <label for="senha">Senha:</label>
            <input type="password" id="senha" name="senha" required>
            <div id="score"></div>

            <label for="cargo">Cargo:</label>
            <select id="cargo" name="cargo" required>
                <option value="1">Ceo</option>
                <option value="2">Manager</option>
                <option value="3">Supervisor</option>
                <option value="4">Employee</option>
                <!-- Adicione mais opções de cargo conforme necessário -->
            </select>

            <button type="submit" id="submit">Cadastrar</button>
        </form>

        <h2>Lista de Usuarios</h2>
        <div id="user-table-container"></div>
        <div id="modal_usuario"></div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script src="js/script.js"></script>
</body>

</html>