<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD de Colaboradores</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <h1>Cadastro de Colaboradores</h1>
    <form id="cadastro-form">
        <label for="nome">Nome:</label>
        <input type="text" id="nome" name="nome" required>
        
        <label for="senha">Senha:</label>
        <input type="password" id="senha" name="senha" required>
        <div id="score"></div>
        
        <button type="submit">Cadastrar</button>
    </form>

    <h2>Lista de Colaboradores</h2>
    <div id="user-table-container"></div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="script.js"></script>
</body>
</html>
